#contenedor{
    width: 900px;
     padding-left: 250px;
     padding-top: 10px;
 }
 #cabecera{
    background-color: pink;
    position: sticky;
    top: 0;
    text-align: center;
    color: rgb(54, 9, 9);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;

}
#menu{
    display: flex;
    justify-content: center;
}
#menu a{
    padding: 20px;
    text-decoration: none;
    color: rgb(243, 43, 193);
}
#menu a:hover{
    color: #361313;
    transition-property: color;
    transition-duration: 800ms;
    transition-timing-function: ease;
    transition-delay: 50ms;
}
#pie{
    display: flex;
    align-items: center;
    padding-left: 370px;
    padding-top: 0px;
}
#pie img{
    border-radius: 100px;
    
}
#pie a{
    padding: 5px;
}
h3{
    text-align: center;
}
.video_responsive{
    padding-left: 240px;
}
