#padre{
    padding: 0;
    margin: 0;
}
#cabecera{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-items: center;
    
}
#menu{
    color:#036635  ;
}
#cabecera a{
    padding: 10px 15px;
    margin: 20px;
    color: black;
    text-decoration: none;
    border-radius: 30px;
}

#cabecera a:hover{
    background-color: #ffffff;
    color: #036635;
    transition-property: color;
    transition-duration: 800ms;
    transition-timing-function: ease;
    transition-delay: 50ms;
    border: 1px solid #036635;
}
#cabecera2{
    background-color: rgb(235, 234, 234);
    height: 30px;
    padding-top: 10px;
    border: 6px solid rgb(235, 234, 234);
    align-items: center;
    text-decoration: underline;
    color: rgb(92, 88, 88);
}
#cabecera2 p{
    margin-top: 0px;
    margin-left: 255px;
}
#contenido{
    display: flex;
    justify-content: center;
}
#articulo1{
    border: 1px solid #036635;
    margin: 40px;
    width: 300px;
    text-align: center;
    color: #036635;
    margin-left: 40px;
   
}
ul{
    margin-right: 40px;
    color: grey;
}
#articulo2{
    border: 1px solid #036635;
    margin-top: 40px;
    padding-left: 50px;
    margin-bottom: 40px;
   
   
}
#bloque1{
    display: flex;
}
#articulo2 img{
    border-radius:200px;
}

#pie1{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 103, 103);
}
#pie2{
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    color: rgb(104, 103, 103);
    font-family: Arial, Helvetica, sans-serif;
}
#bloque1{
    display: flex;
    justify-content: space-between;
    
    
}
#bloque2{
    display: flex;
    justify-content: space-between;
}
#bloque3{
    display: flex;
    justify-content: space-between;
}

#articulo2 img{
    
    margin: 70px 60px;
}
#articulo2 p{
    text-align: center;
    color: #036635;
    
}
#articulo2 h2{
    color: #036635;
    
}
#contenido img{
    float: left;
    padding: 40px;
    margin: 15px;
}
#articulo2 hr{
    margin-right: 50px;
}


